.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #181816;
  text-align: center;
}


h1 {
  color: #ffffff;
}

.container {
  margin: auto;
  width: 50%;
  text-align: center;
  border-radius: 20px;
  background-color: #000000;
  padding: 0 20px 20px;
}

input {
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100px;
  padding: 10px 20px;
  margin: 5px;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}